<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <property name="default.pattern" value="%d{HH:mm:ss.SSS} %-5level %logger{26} - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logback.stdout.level:-INFO}</level>
        </filter>
        <encoder>
            <pattern>${logback.pattern:-${default.pattern}}</pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
